/* Font family */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
/* Primary colors */
/* Neutral colors */
/* Custom colors */
:root {
  font-size: 18px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url(images/icon-arrow-down.svg), url(images/mobile/image-header.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center 68%, 50% 50%;
  background-size: auto, 100% 100%;
  min-height: 540px;
  min-width: 375px;
  max-width: 1400px;
  margin: 0 auto;
}
.header__logo {
  margin-top: 32px;
  margin-left: 24px;
}
.header__nav-toggle {
  background-image: url(images/icon-hamburger.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  width: 24px;
  height: 24px;
  float: right;
  margin-top: 32px;
  margin-right: 24px;
  cursor: pointer;
  outline: none;
}
.header__nav-toggle:focus, .header__nav-toggle:active, .header__nav-toggle:hover {
  filter: opacity(50%);
}
.header__nav-list {
  background-color: hsl(0, 0%, 100%);
  height: 304px;
  width: 330px;
  margin-top: 45px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.header__nav-list::after {
  content: "";
  position: absolute;
  right: 0;
  top: -24px;
  border: 12px solid hsl(0, 0%, 100%);
  border-top-color: transparent;
  border-left-color: transparent;
  width: 10px;
  height: 10px;
  z-index: 999;
}
.header__nav-btn {
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  color: hsl(232, 10%, 55%);
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 50px;
  outline: none;
}
.header__nav-btn:hover, .header__nav-btn:focus {
  font-family: "Fraunces", serif;
  font-size: 0.9rem;
  background-color: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
}
.header__title {
  display: block;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4rem;
  color: hsl(0, 0%, 100%);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.2rem;
  margin-top: 90px;
  z-index: 1;
}

.main {
  min-width: 375px;
  max-width: 1400px;
  margin: 0 auto;
}
.main__section {
  display: grid;
  grid-template-areas: "img-1" "info-1" "img-2" "info-2";
}
.main__image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  min-height: 314px;
  min-width: 375px;
}
.main__image-1 {
  background-image: url(images/mobile/image-transform.jpg);
  grid-area: img-1;
}
.main__image-2 {
  background-image: url(images/mobile/image-stand-out.jpg);
  grid-area: img-2;
}
.main__info {
  background-color: hsl(0, 0%, 100%);
  min-height: 440px;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__info-1 {
  grid-area: info-1;
}
.main__info-2 {
  grid-area: info-2;
}
.main__info-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.8rem;
  color: hsl(212, 27%, 19%);
  text-align: center;
  margin-top: 66px;
}
.main__info-title-2 {
  padding: 0 30px;
}
.main__info-text {
  margin-top: 30px;
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0 26px;
  line-height: 1.5rem;
}
.main__info-btn {
  position: relative;
  border: none;
  background-color: transparent;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 0.85rem;
  text-transform: uppercase;
  margin: 46px auto 0;
  width: 120px;
  cursor: pointer;
  z-index: 1;
  outline: none;
}
.main__info-btn::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -5px;
  width: 130px;
  height: 10px;
  border-radius: 50px;
  opacity: 0.2;
}
.main__info-btn:hover::before, .main__info-btn:focus::before {
  opacity: 0.8;
  z-index: -1;
}
.main__info-btn-1::before {
  background-color: hsl(51, 100%, 49%);
}
.main__info-btn-2::before {
  background-color: hsl(7, 99%, 70%);
}
.main__service {
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
}
.main__service-1 {
  background-image: url(images/mobile/image-graphic-design.jpg);
  color: hsl(167, 40%, 24%);
}
.main__service-2 {
  background-image: url(images/mobile/image-photography.jpg);
  color: hsl(198, 62%, 26%);
}
.main__service-title {
  margin-top: 390px;
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 1.6rem;
  text-transform: capitalize;
}
.main__service-info {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  margin-top: 32px;
  line-height: 1.4rem;
  padding: 0 20px;
}
.main__testimonials {
  display: grid;
  grid-template-areas: "title" "emily" "thomas" "jennie";
  margin-bottom: 90px;
}
.main__clients-title {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 600;
  font-size: 0.85rem;
  color: hsl(210, 4%, 67%);
  text-align: center;
  letter-spacing: 0.2rem;
  margin-top: 60px;
  grid-area: title;
}
.main__client-page {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__client-page-emily {
  grid-area: emily;
}
.main__client-page-thomas {
  grid-area: thomas;
}
.main__client-page-jennie {
  grid-area: jennie;
}
.main__client-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.main__client-text {
  margin-top: 28px;
  min-height: 120px;
  text-align: center;
  line-height: 1.5rem;
  padding: 0 30px;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  color: hsl(213, 9%, 39%);
}
.main__client-name {
  margin-top: 30px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}
.main__client-position {
  margin-top: 10px;
  font-family: "Barlow", sans-serif;
  font-size: 0.78rem;
  color: hsl(210, 4%, 67%);
}
.main__background-images {
  min-height: 375px;
  min-width: 375px;
  display: grid;
  grid-template-areas: "auto auto";
}
.main__bg-img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
}
.main__bg-img:nth-child(1) {
  background-image: url(images/mobile/image-gallery-milkbottles.jpg);
}
.main__bg-img:nth-child(2) {
  background-image: url(images/mobile/image-gallery-orange.jpg);
}
.main__bg-img:nth-child(3) {
  background-image: url(images/mobile/image-gallery-cone.jpg);
}
.main__bg-img:nth-child(4) {
  background-image: url(images/mobile/image-gallery-sugar-cubes.jpg);
}

.footer {
  background-color: hsl(168, 54%, 64%);
  min-height: 316px;
  min-width: 375px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(168, 34%, 41%);
}
.footer__logo {
  margin-top: 60px;
  width: 170px;
  height: 34px;
  filter: invert(48%) sepia(20%) saturate(869%) hue-rotate(118deg) brightness(65%) contrast(88%);
}
.footer__menu-list {
  margin-top: 44px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer__nav-btn {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: inherit;
  outline: none;
}
.footer__nav-btn:hover, .footer__nav-btn:focus {
  color: hsl(0, 0%, 100%);
}
.footer__media {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__media-btn {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 20px;
  height: 20px;
  margin-top: 75px;
  outline: none;
}
.footer__media-btn:hover, .footer__media-btn:focus {
  filter: brightness(0) invert(1);
}
.footer__facebook {
  background-image: url(images/icon-facebook.svg);
}
.footer__instagram {
  background-image: url(images/icon-instagram.svg);
}
.footer__twitter {
  background-image: url(images/icon-twitter.svg);
}
.footer__pinterest {
  background-image: url(images/icon-pinterest.svg);
}

@media screen and (min-width: 750px) {
  .header {
    background-image: url(images/icon-arrow-down.svg), url(images/desktop/image-header.jpg);
    background-position: center 52%, center center;
    background-size: auto, cover;
    min-height: 800px;
  }
  .header__logo {
    width: 170px;
    margin-top: 46px;
    margin-left: 40px;
  }
  .header__nav-toggle {
    display: none;
  }
  .header__nav-list {
    background-color: transparent;
    height: 30px;
    position: absolute;
    margin-top: 0;
    top: 48px;
    right: 120px;
    display: flex;
    flex-direction: row;
  }
  .header__nav-list::after {
    display: none;
  }
  .header__nav-btn {
    font-size: 1rem;
    margin: 0 5px;
    padding: 15px 23px;
    color: hsl(0, 0%, 100%);
  }
  .header__nav-btn:nth-child(4) {
    background-color: hsl(0, 0%, 100%);
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-family: "Fraunces", serif;
  }
  .header__nav-btn:hover {
    background-color: hsla(0, 0%, 100%, 0.3);
    color: hsl(0, 0%, 100%);
  }
  .header__title {
    letter-spacing: 0.5rem;
    font-weight: 900;
    font-size: 3.1rem;
    margin-top: 112px;
    z-index: 1;
  }
  .main__image {
    min-height: 600px;
  }
  .main__image-1 {
    background-image: url(images/desktop/image-transform.jpg);
  }
  .main__image-2 {
    background-image: url(images/desktop/image-stand-out.jpg);
  }
  .main__service-1 {
    background-image: url(images/desktop/image-graphic-design.jpg);
  }
  .main__service-2 {
    background-image: url(images/desktop/image-photography.jpg);
  }
  .main__background-images {
    min-height: 500px;
  }
}
@media screen and (min-width: 1000px) {
  .main__section {
    display: grid;
    grid-template-areas: "info-1 img-1" "img-2 info-2";
  }
  .main__info {
    background-color: hsl(0, 0%, 100%);
    min-height: 440px;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .main__info-1 {
    padding-left: 168px;
    padding-right: 116px;
  }
  .main__info-2 {
    padding-left: 112px;
    padding-right: 155px;
  }
  .main__info-title {
    text-align: left;
    font-size: 2.3rem;
    padding: 0;
    margin-top: 20px;
  }
  .main__info-text {
    text-align: left;
    padding-left: 0;
  }
  .main__info-btn {
    margin-left: 0;
  }
  .main__service-info {
    width: 380px;
    margin: 36px auto 0;
  }
  .main__testimonials {
    display: grid;
    grid-template-areas: "title title title" "emily thomas jennie";
    grid-template-rows: 230px;
    margin-bottom: 90px;
  }
  .main__clients-title {
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin-top: 154px;
    height: 50px;
  }
  .main__client-page {
    margin: 30px auto 0;
    justify-content: flex-start;
    min-width: 300px;
    max-width: 375px;
    min-height: 420px;
  }
  .main__client-text {
    margin-top: 64px;
    padding: 0 12px;
  }
  .main__client-name {
    margin-top: 84px;
  }
  .main__background-images {
    min-height: 450px;
    min-width: 360px;
    grid-template-areas: "auto auto auto auto";
  }
  .main__bg-img:nth-child(1) {
    background-image: url(images/desktop/image-gallery-milkbottles.jpg);
  }
  .main__bg-img:nth-child(2) {
    background-image: url(images/desktop/image-gallery-orange.jpg);
  }
  .main__bg-img:nth-child(3) {
    background-image: url(images/desktop/image-gallery-cone.jpg);
  }
  .main__bg-img:nth-child(4) {
    background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
  }
  .footer {
    min-height: 350px;
  }
  .footer__menu-list {
    margin-top: 44px;
    width: 310px;
  }
  .footer__media {
    width: 170px;
  }
}
@media screen and (min-width: 1300px) {
  .main__client-page-emily {
    margin-left: 174px;
  }
  .main__client-page-jennie {
    margin-right: 170px;
  }
}/*# sourceMappingURL=index.css.map */