/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

$ff-barlow: 'Barlow', sans-serif;
$ff-fraunces: 'Fraunces', serif;

/* Primary colors */
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$drk-desat-cyan: hsl(167, 40%, 24%); //graphic design text
$drk-blue: hsl(198, 62%, 26%); //photography text
$drk-moderate-cyan: hsl(168, 34%, 41%); //footer

/* Neutral colors */
$vry-drk-desat-blue: hsl(212, 27%, 19%);
$vry-drk-grayish-blue: hsl(213, 9%, 39%);
$drk-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

/* Custom colors */
$cc-footer-bg: hsl(168, 54%, 64%);
$cc-white-btn: hsla(0, 0%, 100%, .3);

:root {
    font-size: 18px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    background-image: url(images/icon-arrow-down.svg), url(images/mobile/image-header.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center 68%, 50% 50%;
    background-size: auto, 100% 100%;
    min-height: 540px;
    min-width: 375px;
    max-width: 1400px;
    margin: 0 auto;

    &__logo {
        margin-top: 32px;
        margin-left: 24px;
    }

    &__nav-toggle {
        background-image: url(images/icon-hamburger.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border: none;
        width: 24px;
        height: 24px;
        float: right;
        margin-top: 32px;
        margin-right: 24px;
        cursor: pointer;
        outline: none;

        &:focus,
        &:active,
        &:hover {
            filter: opacity(50%);
        }
    }

    &__nav-list {
        position: relative;
        background-color: $white;
        height: 304px;
        width: 330px;
        margin-top: 45px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: -24px;
            border: 12px solid $white;
            border-top-color: transparent;
            border-left-color: transparent;
            width: 10px;
            height: 10px;
            z-index: 999;
        }
    }

    &__nav-btn {
        font-family: $ff-barlow;
        font-size: 1.1rem;
        color: $drk-grayish-blue;
        text-decoration: none;
        padding: 18px 30px;
        border-radius: 50px;
        outline: none;

        &:hover,
        &:focus {
            font-family: $ff-fraunces;
            font-size: .9rem;
            background-color: $yellow;
            color: $vry-drk-desat-blue;
            text-transform: uppercase;
        }
    }

    &__title {
        display: block;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .4rem;
        color: $white;
        font-family: $ff-fraunces;
        font-weight: 900;
        font-size: 2.2rem;
        margin-top: 90px;
        z-index: 1;
    }
}

.main {
    min-width: 375px;
    max-width: 1400px;
    margin: 0 auto;

    &__section {
        display: grid;
        grid-template-areas: 'img-1'
                             'info-1'
                             'img-2'
                             'info-2';
    }

    &__image {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 50% 50%;
        min-height: 314px;
        min-width: 375px;
    }

    &__image-1 {
        background-image: url(images/mobile/image-transform.jpg);
        grid-area: img-1;
    }

    &__image-2 {
        background-image: url(images/mobile/image-stand-out.jpg);
        grid-area: img-2;
    }

    &__info {
        background-color: $white;
        min-height: 440px;
        min-width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info-1 {
        grid-area: info-1;
    }

    &__info-2 {
        grid-area: info-2;
    }

    &__info-title {
        font-family: $ff-fraunces;
        font-weight: 900;
        font-size: 1.8rem;
        color: $vry-drk-desat-blue;
        text-align: center;
        margin-top: 66px;
    }

    &__info-title-2 {
        padding: 0 30px;
    }

    &__info-text {
        margin-top: 30px;
        color: $drk-grayish-blue;
        font-family: $ff-barlow;
        font-size: 1rem;
        text-align: center;
        padding: 0 26px;
        line-height: 1.5rem;
    }

    &__info-btn {
        position: relative;
        border: none;
        background-color: transparent;
        color: $vry-drk-desat-blue;
        font-family: $ff-fraunces;
        font-weight: 900;
        font-size: .85rem;
        text-transform: uppercase;
        margin: 46px auto 0;
        width: 120px;
        cursor: pointer;
        z-index: 1;
        outline: none;

        &::before {
            content: "";
            position: absolute;
            bottom: -3px;
            left: -5px;
            width: 130px;
            height: 10px;
            border-radius: 50px;
            opacity: .2;
        }

        &:hover::before,
        &:focus::before {
            opacity: .8;
            z-index: -1;
        }
    }

    &__info-btn-1::before {
        background-color: $yellow;
    }

    &__info-btn-2::before {
        background-color: $soft-red;
    }

    &__service {
        height: 600px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 50% 50%;
    }

    &__service-1 {
        background-image: url(images/mobile/image-graphic-design.jpg);
        color: $drk-desat-cyan;
    }

    &__service-2 {
        background-image: url(images/mobile/image-photography.jpg);
        color: $drk-blue;
    }

    &__service-title {
        margin-top: 390px;
        text-align: center;
        font-family: $ff-fraunces;
        font-size: 1.6rem;
        text-transform: capitalize;
    }

    &__service-info {
        text-align: center;
        font-family: $ff-barlow;
        font-weight: 600;
        font-size: .9rem;
        margin-top: 32px;
        line-height: 1.4rem;
        padding: 0 20px;
    }

    &__testimonials {
        display: grid;
        grid-template-areas: 'title'
                             'emily'
                             'thomas'
                             'jennie';
        margin-bottom: 90px;
    }

    &__clients-title {
        text-transform: uppercase;
        font-family: $ff-fraunces;
        font-weight: 600;
        font-size: .85rem;
        color: $grayish-blue;
        text-align: center;
        letter-spacing: .2rem;
        margin-top: 60px;
        grid-area: title;
    }

    &__client-page {
        margin-top: 66px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__client-page-emily {
        grid-area: emily;
    }

    &__client-page-thomas {
        grid-area: thomas;
    }

    &__client-page-jennie {
        grid-area: jennie;
    }

    &__client-pic {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    &__client-text {
        margin-top: 28px;
        min-height: 120px;
        text-align: center;
        line-height: 1.5rem;
        padding: 0 30px;
        font-family: $ff-barlow;
        font-size: 1rem;
        color: $vry-drk-grayish-blue;
    }

    &__client-name {
        margin-top: 30px;
        font-family: $ff-fraunces;
        font-weight: 900;
        color: $vry-drk-desat-blue;
    }

    &__client-position {
        margin-top: 10px;
        font-family: $ff-barlow;
        font-size: .78rem;
        color: $grayish-blue;
    }

    &__background-images {
        min-height: 375px;
        min-width: 375px;
        display: grid;
        grid-template-areas: 'auto auto';
    }

    &__bg-img {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 50% 50%;

        &:nth-child(1) {
            background-image: url(images/mobile/image-gallery-milkbottles.jpg);
        }

        &:nth-child(2) {
            background-image: url(images/mobile/image-gallery-orange.jpg);
        }

        &:nth-child(3) {
            background-image: url(images/mobile/image-gallery-cone.jpg);
        }

        &:nth-child(4) {
            background-image: url(images/mobile/image-gallery-sugar-cubes.jpg);
        }
    }
}

.footer {
    background-color: $cc-footer-bg;
    min-height: 316px;
    min-width: 375px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $drk-moderate-cyan;

    &__logo {
        margin-top: 60px;
        width: 170px;
        height: 34px;
        filter: invert(48%) sepia(20%) saturate(869%) hue-rotate(118deg) brightness(65%) contrast(88%);
    }

    &__menu-list {
        margin-top: 44px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__nav-btn {
        text-decoration: none;
        font-family: $ff-barlow;
        color: inherit;
        outline: none;

        &:hover,
        &:focus {
            color: $white;
        }
    }

    &__media {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__media-btn {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        width: 20px;
        height: 20px;
        margin-top: 75px;
        outline: none;

        &:hover,
        &:focus {
            filter: brightness(0) invert(1);
        }
    }

    &__facebook {
        background-image: url(images/icon-facebook.svg);
    }

    &__instagram {
        background-image: url(images/icon-instagram.svg);
    }

    &__twitter {
        background-image: url(images/icon-twitter.svg);
    }

    &__pinterest {
        background-image: url(images/icon-pinterest.svg);
    }
}

@media screen and (min-width: 750px) {

    .header {
        background-image: url(images/icon-arrow-down.svg), url(images/desktop/image-header.jpg);
        background-position: center 52%, center center;
        background-size: auto, cover;
        min-height: 800px;

        &__logo {
            width: 170px;
            margin-top: 46px;
            margin-left: 40px;
        }
        
        &__nav-toggle {
            display: none;
        }

        &__nav-list {
            background-color: transparent;
            height: 30px;
            position: absolute;
            margin-top: 0;
            top: 48px;
            right: 120px;
            display: flex;
            flex-direction: row;

            &::after {
                display: none;
            }
        }

        &__nav-btn {
            font-size: 1rem;
            margin: 0 5px;
            padding: 15px 23px;
            color: $white;

            &:nth-child(4) {
                background-color: $white;
                color: $vry-drk-desat-blue;
                text-transform: uppercase;
                font-family: $ff-fraunces;
            }
    
            &:hover {
                background-color: $cc-white-btn;
                color: $white;
            }
        }

        &__title {
            letter-spacing: .5rem;
            font-weight: 900;
            font-size: 3.1rem;
            margin-top: 112px;
            z-index: 1;
        }
    }

    .main {

        &__image {
            min-height: 600px;
        }

        &__image-1 {
            background-image: url(images/desktop/image-transform.jpg);
        }
    
        &__image-2 {
            background-image: url(images/desktop/image-stand-out.jpg);
        }

        &__service-1 {
            background-image: url(images/desktop/image-graphic-design.jpg);
        }
    
        &__service-2 {
            background-image: url(images/desktop/image-photography.jpg);
        }

        &__background-images {
            min-height: 500px;
        }
    }
}

@media screen and (min-width: 1000px) {
   
    .main {

        &__section {
            display: grid;
            grid-template-areas: 'info-1 img-1'
                                 'img-2 info-2';
        }

        &__info {
            background-color: $white;
            min-height: 440px;
            min-width: 375px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
        }

        &__info-1 {
            padding-left: 168px;
            padding-right: 116px;
        }

        &__info-2 {
            padding-left: 112px;
            padding-right: 155px;
        }

        &__info-title {
            text-align: left;
            font-size: 2.3rem;
            padding: 0;
            margin-top: 20px;
        }

        &__info-text {
            text-align: left;
            padding-left: 0;
        }

        &__info-btn {
            margin-left: 0;
        }

        &__service-info {
            width: 380px;
            margin: 36px auto 0;
        }

        &__testimonials {
            display: grid;
            grid-template-areas: 'title title title'
                                 'emily thomas jennie';
            grid-template-rows: 230px;
            margin-bottom: 90px;
        }

        &__clients-title {
            font-weight: 600;
            font-size: 1.2rem;
            letter-spacing: .2rem;
            margin-top: 154px;
            height: 50px;
        }

        &__client-page {
            margin: 30px auto 0;
            justify-content: flex-start;
            min-width: 300px;
            max-width: 375px;
            min-height: 420px;
        }

        &__client-text {
            margin-top: 64px;
            padding: 0 12px;
        }
    
        &__client-name {
            margin-top: 84px;
        }
        
        &__background-images {
            min-height: 450px;
            min-width: 360px;
            grid-template-areas: 'auto auto auto auto';
        }

        &__bg-img {
    
            &:nth-child(1) {
                background-image: url(images/desktop/image-gallery-milkbottles.jpg);
            }
    
            &:nth-child(2) {
                background-image: url(images/desktop/image-gallery-orange.jpg);
            }
    
            &:nth-child(3) {
                background-image: url(images/desktop/image-gallery-cone.jpg);
            }
    
            &:nth-child(4) {
                background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
            }
        }

    }

    .footer {
        min-height: 350px;
    
        &__menu-list {
            margin-top: 44px;
            width: 310px;
        }
    
        &__media {
            width: 170px;
        }
    }
}

@media screen and (min-width: 1300px) {

    .main {
        &__client-page-emily {
            margin-left: 174px;
        }

        &__client-page-jennie {
            margin-right: 170px;
        }
    }
    
}